/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--background-primary: #232f3e;
	--background-secondary: #37475A;
	--background-tertiary: #febd69;
	--foreground-secondary:#fff;
	--foreground-tertiary: #f08804;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
	margin: 0;
	font-family: 'Bebas Neue', sans-serif;
	font-family: 'Open Sans', sans-serif;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

header {
	display: flex;
    flex-direction: column;
	color: var(--foreground-secondary);
	background-color: var(--background-primary);
}

header .logo img:first-of-type {
    max-height: 2vh;
    margin: 0 3vw;
}

.top-header {
	width: 100%;
    display: flex;
}

.top-header > section {
	width: 50%;
	display: flex;
    align-items: center;
}

header img {
	max-height: 2.5vh;
}

header .sign-in {
    justify-content: end;
}

header .sign-in img {
	max-height: 3vh;
    margin-left: 1vw;
}

header .sign-in img ~ p {
	color: var(--foreground-tertiary);
	font-weight: bold;
	margin: 0 3vw;
}

.search {
	display: flex;
	justify-content: center;
}

.search input {
	border: 0;
	border-radius: 8px 0 0 8px;
	width: 100%;
	margin-left: 3vw;
	padding: 0.75em 1em;
	font-size: 1em;
}

.search button {
	background-color: var(--background-tertiary);
	border: 0;
	border-radius: 0 8px 8px 0;
	margin-right: 3vw;
    padding: 0 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search img {
    max-height: 8vw;
}

header nav {
	display: flex;
    align-items: center;
    padding: 0 3vw;
}

header nav p {
	font-size: 0.85em;
	padding: 0 2vw;
	white-space: nowrap;
    font-weight: 600;
}

.delivery {
	display: flex;
	align-items: center;
	background-color: var(--background-secondary);
    padding: 0 3vw;
	font-size: 0.75em;
	font-weight: 500;
}

.delivery img {
	margin-right: 1vw;
}

.black-friday {
	display: flex;
}

.black-friday > section {
	color: var(--foreground-secondary);
	background-color: #03463F;
    display: flex;
    align-items: center;
}

.black-friday p {
	font-weight: 700;
	margin: 0;
    padding: 0 4vw 0 6vw;
    font-size: 1.5em;
}

.black-friday img {
	max-width: 50%;
}

.international-shopping h2 {
	font-size: 1em;
	margin: 1em 0.5em;
}