/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--background-primary: #232f3e;
	--background-secondary: #37475A;
	--background-tertiary: #febd69;
	--foreground-secondary:#fff;
	--foreground-tertiary: #f08804;
	--text-primary: #000;
	--button-primary: #FFD814;
	--button-secondary: #FCD200;
	--link: #007185;
	--section-border: #E3E6E6;
	--footer-text: #ccc;
	--footer-background: #0C141E;
	--product-background: #F7F8F8;
	--former-price: #565959;
}

/****************/
/*   STYLING    */
/****************/

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: 'Bebas Neue', sans-serif;
	font-family: 'Open Sans', sans-serif;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

header {
	display: flex;
    flex-direction: column;
	color: var(--foreground-secondary);
	background-color: var(--background-primary);
}

header img:first-of-type {
    max-height: 2vh;
    margin: 0 3vw;
}

.top-header {
	width: 100%;
    display: flex;
    align-items: center;
}

.top-header > section {
	width: 50%;
	display: flex;
    align-items: center;
}

header img {
	max-height: 2.5vh;
}

header .sign-in {
    justify-content: end;
    flex-grow: 1;
}

header .sign-in h2 {
	font-size: 1em;
	font-weight: 400;
}

header .sign-in img {
	max-height: 3vh;
    margin-left: 1vw;
}

header .sign-in img:nth-of-type(2) {
	margin-right: 6vw;
}

header .sign-in img ~ p {
	position: absolute;
    right: 2.25em;
    top: -10px;
	color: var(--foreground-tertiary);
	font-weight: bold;
}

.search {
	display: flex;
	justify-content: center;
	background: linear-gradient(
		to right,
		var(--background-primary) 5%,
		var(--foreground-secondary) 5% 95%,
		var(--background-primary) 95% 100%
	);
}

.search input {
	border: 0;
	border-radius: 8px 0 0 8px;
	width: 100%;
	margin-left: 3vw;
	padding: 0.75em 1em;
	font-size: 1em;
}

.search button {
	background-color: var(--background-tertiary);
	border: 0;
	border-radius: 8px;
	margin-right: 3vw;
    padding: 0 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search img {
    max-height: 8vw;
}

header nav {
	display: flex;
    align-items: center;
    padding-top: 12px;
}

header nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

header nav li {
	font-size: 0.85em;
	padding: 0 2vw;
	white-space: nowrap;
    font-weight: 600;
    margin: 0 0 12px 15px;
}

.delivery {
	display: flex;
	align-items: center;
	background-color: var(--background-secondary);
    padding: 0 3vw;
	font-size: 0.75em;
	font-weight: 500;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.delivery img {
	margin-right: 1vw;
}

.delivery h2 {
	font-size: 12px;
	font-weight: 500;
}

main h2 {
	font-size: 18px;
}

.black-friday {
	display: flex;
}

.black-friday h2 {
	color: var(--foreground-secondary);
	background-color: #03463F;
    display: flex;
    align-items: center;
	font-weight: 700;
	margin: 0;
    padding: 0 4vw 0 6vw;
    font-size: 1.5em;
}

.black-friday img {
	max-width: 50%;
}

.international-shopping h2 {
	padding: 1.2rem 0 8px 1.5rem;
	margin: 0;
}

.international-shopping-item {
	display: inline-flex;
    align-items: center;
	flex-direction: column-reverse;
	max-width: 5.5em;
	margin-left: 12px;
}

.international-shopping img {
	max-width: 5em;
}

.international-shopping h3 {
	text-align: center;
	font-weight: 400;
	font-size: 1em;
}

main .sign-in {
    padding: 14px 17px;
	border-top: 2px var(--section-border) solid;
	border-bottom: 2px var(--section-border) solid;
}

main .sign-in h2 {
    margin: 0;
    padding-bottom: 0.8rem;
}

main .sign-in a {
	text-decoration: none;
}

main .sign-in h2 + a {
	display: flex;
    justify-content: center;
    align-items: center;
	background-color: var(--button-primary);
	border: var(--button-secondary) solid 0.1rem;
	border-radius: 0.8rem;
	box-shadow: 0 0.2rem 0.5rem 0 rgba(213,217,217,.5);
	cursor: pointer;
	padding: 1em;
	font-size: 1em;
	width: 100%;
}

main .sign-in h2 + a h3 {
	padding: 0;
	color: var(--text-primary);
}

main .sign-in h3, .item-showcase h3 {
	font-size: 15px;
    padding-top: 0.75em;
    color: var(--link);
    font-weight: 500;
    margin: 0;
}

.item-showcase, .top-sellers {
    padding: 14px 17px;
	border-bottom: 2px var(--section-border) solid;
}

.item-showcase div {
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr;
}

.item-showcase img {
	border-radius: 4px;
    width: 100%;
}

.item-showcase a {
	text-decoration: none;
}

.item-showcase h2, .top-sellers h2 {
	margin: 0;
	padding-bottom: 0.75em;
}

.item-showcase p, .item-showcase article h3 {
	margin: 0;
	padding: 0;
	color: var(--text-primary);
	font-size: 15px;
    font-weight: 500;
}

.item-showcase article a {
	color: var(--text-primary);
	display: flex;
	flex-direction: column-reverse;
    text-decoration: none;
}

.top-sellers > a {
	display: flex;
	text-decoration: none;
}

.top-sellers section {
	color: var(--text-primary);
	display: flex;
	flex-direction: column;
	margin-left: 12px;
}

.top-sellers img {
	padding: 4px;
    height: 6.5em;
    min-width: 6.5em;
    object-fit: contain;
}

.top-sellers h3 {
	font-weight: 500;
	font-size: 15px;
	margin: 0;
}

.top-sellers p {
	font-size: 18px;
	font-weight: 500;
	margin: 0;
}

.top-sellers small {
	position: relative;
	font-size: 10px;
    top: -0.5em;
    line-height: 1.6rem;
}

.top-sellers small:last-of-type {
	color: var(--former-price);
	font-size: 13px;
	top: 0;
}

.top-sellers small span {
	text-decoration: line-through;
}

.back-to-top {
	display: flex;
	width: 100%;
	border: 0;
    flex-direction: column-reverse;
    align-items: center;
	background-color: var(--background-secondary);
	color: var(--foreground-secondary);
}

.back-to-top img {
	height: 10px;
	margin-top: 8px;
}

.back-to-top h2 {
	font-weight: 500;
	font-size: 11px;
	line-height: 30px;
	margin: 0;
	text-transform: uppercase;
}

.footer-links {
	display: grid;
    grid-template-columns: 1fr 1fr;
	background-color: var(--background-primary);
	color: var(--foreground-secondary);
	padding: 14px 17px;
}

ul.footer-links {
	list-style: none;
	margin: 0;
}

.footer-links li {
	font-size: 15px;
	font-weight: 500;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
}

.footer-links li:last-of-type {
	grid-column: 2;
}

.footer-links a, .footer-links a:active, .footer-links a:hover, .footer-links a:visited {
	color: var(--foreground-secondary);	
	text-decoration: none;
}

.footer-end {
	color: var(--foreground-secondary);
	background-color: var(--footer-background);
}

.footer-end h2 {
	font-size: 15px;
	font-weight: 500;
	padding: 25px 0 25px 0;
	margin: 0;
	text-align: center;
}

.footer-end ul h2 {
	padding: 0;
}

.footer-end ul:first-of-type a, .footer-end ul:first-of-type a:hover, .footer-end ul:first-of-type a:active, .footer-end ul:first-of-type a:visited {
	color: var(--footer-text);
	text-decoration: none;
}

.footer-end ul:first-of-type {
	list-style: none;
	margin: 0;
	padding-top: 25px;
	padding-bottom: 1em;
	display: flex;
    justify-content: center;
    line-height: 15px;
}

.footer-end ul:first-of-type li {
    padding: 1em 0.9em;
}

.footer-end ul:first-of-type a {
	display: flex;
    flex-direction: row-reverse;
    padding: 0 8px;
    align-items: center;
}

.footer-end ul:first-of-type h2 {
	font-size: 15px;
    flex: none;
}

.footer-end h2 + img {
	max-height: 1.25em;
    margin: 0 0.5em;
}

.footer-end h2 + p {
	padding-bottom: 0;
	font-size: 15px;
    margin: 0 0.5em;
	color: var(--foreground-secondary);
}

.footer-end ul {
	color: var(--footer-text);
	font-size: 11px;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
    justify-content: center;
    margin-bottom: 10px;
    line-height: 15px;
}

.footer-end li {
	display: flex;
    flex-direction: row-reverse;
	padding: 0 8px;
}

.footer-end p {
	color: var(--footer-text);
	font-size: 11px;
	text-align: center;
	margin: 0;
	padding-bottom: 35px;
}

.footer-end a {
	color: var(--foreground-secondary);
	text-decoration: none;
}

.footer-end li a {
	color: var(--footer-text);
}